/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* Navigation */

nav img {
  height: 4.6rem;
  padding: 0 1.5rem;
}
.logo-link {
  padding: 0;
  margin: 0;
}
.logo-link:hover {
  background-color: #444444;
}

nav {
  background-color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

a {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  align-content: center;
  text-decoration: none;
  padding: 1.5rem;
}

a:hover {
  background-color: #F2A22C;
}

/* Home */
.home #left-side{
  width: 30%;
  height: 100vh;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  overflow:hidden; 
  position:fixed;
  top: 0;
  left: 0;
  background-size: cover;
  font-size: 16px;
  box-shadow: #444444 3px 0px 10px;
  z-index: -1;
}

.home #content {
  width: 70%;
  margin-left: 30%;
  text-align: center;
}


.home #why-us {
  background-image: url('../images/criss-cross.png');
}

.home .why {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 20px;
  padding: 2% 0;
  color: #632726;
  line-height: 1.2;
}

.home .header-img {
  width: 50%;
  padding: 5%;
}
.home .why img{
  width: 40%;
  border-radius: 8%;
  padding: 2%;
}
.home .why h2 {
  width: 40%;
  padding: 2%;
}
.home h3 {
  padding: 0 0 2% 0;
  font-size: 24px;
  margin-bottom: 2%;
  color: #444444;
}
/* Recipes */
.recipe-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: .5rem;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  margin: 1rem;
}

/* Recipe Card */
.card {
  box-shadow: 0 0 3px rgba(0,0,0,0.1)
}

.card h3 {
  font-weight: bold;
}

.card-image {
  width: 100%;
  max-height: 580px;
  display: block;
}

.card-text {
  line-height: 1.5;
  font-size: 1rem;
  padding: 15px;
  background-color: #fafafa;
}

.card-stats {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  border-bottom: 2px solid #ccc;
  align-items: center;
}